@section Header {
<div class="bg-light py-5">
    <div class="jumbotron container py-5">
        <h1 class="display-4">Welcome to CourseApp!</h1>
        <p class="lead">This is a simple application to manage courses and students.</p>
        <hr class="my-4">
        <p>It uses ASP.NET Core MVC and Entity Framework Core.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
}