<!-- simple desc lorem -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Welcome to the Course Manager</h1>
            <p class="lead">This is a simple application to manage courses.</p>
            <p class="lead">You can view, edit, and delete courses.</p>
            <p class="lead">You can also create new courses.</p>
            <p class="lead">You can also view the details of a course.</p>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos facilis maxime eius optio
                temporibus veritatis quia quas ratione quisquam fugit beatae, vero veniam? Delectus dignissimos, rem
                repellendus a magni sint consectetur aperiam officia sapiente, fugiat consequatur voluptatibus dolor
                necessitatibus odio eum cum eius excepturi numquam tempore. Quidem mollitia ducimus esse quod nam ab
                maxime possimus reprehenderit quo explicabo, magnam nulla, odio totam facilis molestias saepe cumque
                rerum, repudiandae ipsum iusto. Tenetur aspernatur repellat explicabo soluta necessitatibus voluptatibus
                aliquid. Sed corrupti facere id illum! Ratione reiciendis doloremque, incidunt at saepe odit dolorem
                commodi, officia numquam laudantium consequuntur illo ipsa illum quasi tempore? Repellat cumque
                voluptatibus accusamus velit deleniti eveniet unde aperiam ducimus, culpa corporis id necessitatibus
                eligendi aspernatur ipsum ab esse magni reprehenderit nobis eaque illum. Aliquid quibusdam animi
                corporis laudantium harum placeat ducimus architecto nisi! Vero dolores nisi, soluta tempora libero
                error fugiat ad assumenda eligendi? Modi doloremque magnam, nisi adipisci, sequi voluptates esse autem
                fugit, id optio nesciunt reprehenderit vel facilis porro vero minima ullam eos commodi exercitationem
                sint accusantium. Dolore, quasi autem voluptatem voluptate sit nihil suscipit error deserunt harum
                dolorum, perferendis placeat vitae veritatis. Sit perferendis iste aliquid dolor voluptate, magni odit,
                deserunt laboriosam commodi laborum doloribus.
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos facilis maxime eius optio
                temporibus veritatis quia quas ratione quisquam fugit beatae, vero veniam? Delectus dignissimos, rem
                repellendus a magni sint consectetur aperiam officia sapiente, fugiat consequatur voluptatibus dolor
                necessitatibus odio eum cum eius excepturi numquam tempore. Quidem mollitia ducimus esse quod nam ab
                maxime possimus reprehenderit quo explicabo, magnam nulla, odio totam facilis molestias saepe cumque
                rerum, repudiandae ipsum iusto. Tenetur aspernatur repellat explicabo soluta necessitatibus voluptatibus
                aliquid. Sed corrupti facere id illum! Ratione reiciendis doloremque, incidunt at saepe odit dolorem
                commodi, officia numquam laudantium consequuntur illo ipsa illum quasi tempore? Repellat cumque
                voluptatibus accusamus velit deleniti eveniet unde aperiam ducimus, culpa corporis id necessitatibus
                eligendi aspernatur ipsum ab esse magni reprehenderit nobis eaque illum. Aliquid quibusdam animi
                corporis laudantium harum placeat ducimus architecto nisi! Vero dolores nisi, soluta tempora libero
                error fugiat ad assumenda eligendi? Modi doloremque magnam, nisi adipisci, sequi voluptates esse autem
                fugit, id optio nesciunt reprehenderit vel facilis porro vero minima ullam eos commodi exercitationem
                sint accusantium. Dolore, quasi autem voluptatem voluptate sit nihil suscipit error deserunt harum
                dolorum, perferendis placeat vitae veritatis. Sit perferendis iste aliquid dolor voluptate, magni odit,
                deserunt laboriosam commodi laborum doloribus.
            </p>
        </div>
    </div>
</div>