@{
ViewData["Title"] = "Toplantı özeti";
}

<h1 class="h4 text-lead">Toplantı özeti</h1>
<p class="text-muted">Toplantıya sizinle birlikte 20 kişi katılıyor.</p>
<a asp-controller="Meeting" asp-action="List" class="btn btn-primary">Katılımcıları listele</a>