<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        main {
            height: calc(100vh - 130px);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto !important;
        }
    </style>
</head>

<body>
    <header class="bg-white text-dark p-3 shadow-sm">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none gap-3">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none">
                        <span class="fs-4">FormsApp</span>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/products" class="nav-link text-dark">
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/product/create" class="nav-link text-dark">
                                Create product
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <!-- search bar -->
                </div>
            </div>
        </div>
    </header>

    <main class="py-5">
        @RenderBody()
    </main>


    <footer class="bg-light text-dark text-center p-3">
        <p class="m-0">&copy; 2025 - FormsApp</p>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>