<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        main {
            height: calc(100vh - 130px);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto !important;
        }
    </style>
</head>

<body>
    <header class="bg-white text-dark p-3 shadow-sm">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none gap-3">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none">
                        <span class="fs-4">FormsApp</span>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/products" class="nav-link text-dark">
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/product/create" class="nav-link text-dark">
                                Create product
                            </a>
                        </li>
                    </ul>
                </div>
                <form method="get" asp-action="Index">
                    <div class="form-group d-flex gap-2">
                        <input type="text" class="form-control" name="searchString" placeholder="Enter product name.."
                            value="@ViewBag.SearchString">
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M10.832 9.54a5.5 5.5 0 1 0-1.292 1.292l3.86 3.86a1 1 0 0 0 1.415-1.414l-3.86-3.86a1 1 0 0 0-1.123-.218zm-4.332 0a3.5 3.5 0 1 1 1.292-1.292 3.5 3.5 0 0 1-1.292 1.292z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <section class="container-fluid">
        <main class="py-4 container d-block">
            @RenderBody()
        </main>
    </section>


    <footer class="bg-light text-dark text-center p-3">
        <p class="m-0">&copy; 2025 - FormsApp</p>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>