@{
ViewData["Title"] = "Ana sayfa";
}

<h1 class="h4 text-lead">Merhaba, Harun. @ViewData["Time"]!</h1>
<p class="text-muted">Katılım durumunuzu bildiriniz.</p>
<a class="btn btn-primary" asp-controller="Meeting" asp-action="Apply">Katıl</a>