@{
ViewData["Title"] = "Ana sayfa";
}

<h1 class="h4 text-lead">Merhaba, @ViewData["UserName"]. @ViewData["Time"]!</h1>
<p class="text-muted">Katılım durumunuzu bildiriniz.</p>

<div class="py-4 my-4">
    <ul class="list-group list-group-flush"">
        <li class=" list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>

<a class="btn btn-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>